*{
	padding: 0;
	margin: 0;
	text-align: center;
    color: #ffffff;
}

body {
	padding: 50px 20px;
	background-color: #000000;
}

h1 {
    font-family: century gothic;
	text-align: center;
	padding: 12px;
	color: #ffffff
}
